/* Mobile menu links  */
.menu-drawer .list-menu a {
    text-decoration: none;
    color: #000;
    font-weight: 600;
    letter-spacing: .02em;
    line-height: 1;
}

.menu-drawer .menu-drawer__menu-item {
    padding: 2rem 3.2rem;
}

.header .header__icon--cart .icon-cart-empty {
    height: 2rem;
    width: 2rem;
    padding: 0;
}

/* Item in cart  */
.header .header__icon--cart .icon-cart {
    height: 2.2rem;
    width: 2.2rem;
    padding: 0;
    vertical-align: middle;
}

.header .header__icon--search>span {
    height: 108%;
}

.product-form__submit {
    text-transform: uppercase;
    font-weight: 800;
}


slideshow-component .slideshow__text.banner__box .banner__text span,
slideshow-component .slideshow__text.banner__box .banner__heading {
    color: black;
}


.button,
.customer button {
    border-radius: 5px;
    font-size: 16px;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 0.02em;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.25s ease-out;
    padding-top: 11px;
    padding-bottom: 11px;
    padding-left: 40px;
    padding-right: 40px;
}

.button:hover {
    text-decoration: none;
}

.select__select.facet-filters__sort {
    outline: .2rem solid rgba(var(--color-foreground), .5);
    outline-offset: 1rem;
    box-shadow: 0 0 0 1rem rgb(var(--color-background)), 0 0 .2rem 1.2rem rgba(var(--color-foreground), .3);
}

/* H2 spacing on pages  */
.page-width--narrow h2 {
    margin-top: 5rem;
}

slideshow-component .slideshow__text.banner__box .banner__text {
    font-size: calc(var(--font-heading-scale) * 3.2rem);
    text-transform: uppercase;
    line-height: 130%;
    color: black;
}

slideshow-component .slideshow__text.banner__box {
    background-color: rgba(255, 255, 255, 0.9);
    color: black;
    border-radius: 10px;
    max-width: 65rem;
}


slideshow-component .banner__box .banner__heading+* {
    margin-top: 0rem;
}

slideshow-component .slideshow__text.banner__box .banner__buttons .button {
    border: 1px solid black;
    text-transform: uppercase;
    font-weight: 700;
    min-width: 180px;
}

/* Size of slider arrows  */
.slider-buttons .slider-button .icon {
    height: 15px;
}

/* UPTO DESKTOP */
@media (max-width: 749px) {
    .banner__content .banner__box {
        padding: 2rem 3.5rem 2rem 3.5rem;
    }
}

@media (min-width: 990px) and (max-width: 1200px) {
    .header__inline-menu .header .list-menu--inline {
        margin-left: 2rem;
    }

    .header__inline-menu .header .list-menu .link {
        font-size: 1.4rem;
    }
}

/* DESKTOP  */
@media screen and (min-width: 990px) {

    .header .list-menu--inline {
        margin-left: 4rem;
    }

    .header .header__menu-item {
        padding: 1.2rem;
        text-decoration: none;
        color: #000;
        font-weight: 600;
        letter-spacing: .02em;
        line-height: 1;
    }

    /* All link items */
    .header .header__menu-item span {
        padding-left: 6px;
        padding-right: 6px;
        position: relative;
    }

    .header__menu-item:hover span {
        text-decoration: none;
    }

    .header .header__menu-item:hover span:after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        bottom: -36px;
        height: 5px;
        display: block;
        width: 100%;
        background-color: transparent;
    }

    .header .header__inline-menu ul li:nth-child(1) span:after {
        background-color: #dd9ef4;
    }

    .header .header__inline-menu ul li:nth-child(2) span:after {
        background-color: #f29996;
    }

    .header .header__inline-menu ul li:nth-child(3) span:after {
        background-color: #96b0f2;
    }

    .header .header__inline-menu ul li:nth-child(4) span:after {
        background-color: #aff6ed;
    }

    /* Current link item  */
    .header .header__active-menu-item {
        text-decoration: none;
    }

    .header .list-menu .link {
        font-size: 1.6rem;
    }

    .header .header__menu-item .icon-caret {
        right: 0rem;
    }

    slideshow-component .slideshow__text.banner__box .banner__text {
        font-size: calc(var(--font-heading-scale) * 5.2rem);
    }
}
